# secrets
.env

# rubbish
.ipynb_checkpoints/
__pycache__

# databases, data, caches & stuff
.langchain.db
data_map_*.txt
faiss.index
sqlite.db
01_other-backends/Chinook.db
01_other-backends/Chinook_Sqlite.sql
01_other-backends/state_of_the_union.txt

# feast
feast_store/user_features
