# secrets
.env

# rubbish
.ipynb_checkpoints/
__pycache__

# databases, caches & stuff
.langchain.db
data_map_*.txt
faiss.index
sqlite.db
01_other-backends/Chinook.db
01_other-backends/Chinook_Sqlite.sql

# feast
feast_store/user_features
